<%= render partial: "items/header" %>

   <% @items.each do |item| %>
   <div class="user_item">
    <div class="img_box">
    <p><%= image_tag "#{item.image}", :size=> "180x200" %></p>
    </div>
    <p class= "item_text"><%= item.item_name %></p>
    <p class= "item_text" ><%= number_to_currency(item.price, unit: "¥", strip_insignificant_zeros: true) %></p>
    <p class= "item_link"><%= link_to '編 集', "/items/#{item.id}/edit", method: :get %></p>
    <p class= "item_link"><%= link_to '出品取消', "/items/#{item.id}", method: :delete %></p>
   </div>
  <% end %>
 

<%= render partial: "items/footer" %>