<%= render partial: "items/header" %>

<div class= "item_container">
  <% @items.each do |item| %>
  <div class="item_box">
  <div class="img_box">
  <p class= "item_img" ><%= image_tag "#{item.image}"%></p>
  </div>
  <p class= "item_text"><%= item.item_name %></p>
  <p class= "item_text" >¥<%= item.price %></p>
  <p class= "item_text"><%= link_to '編 集', "/items/#{item.id}/edit", method: :get %></p>
  <p class= "item_text"><%= link_to '出品取消', "/items/#{item.id}", method: :delete %></p>
  </div>

  <% end %>
</div>

<%= render partial: "items/footer" %>