<%= render partial: "items/header" %>

  <% @items.each do |item| %>
  <div class="item_box">
    <%= link_to "items/#{item.id}" do %>
    <div class="img_box">
    <p class= "item_img" ><%= image_tag "#{item.image}" %></p>
    </div>
    <p class= "item_text" ><%= item.item_name %></p>
    <p class= "item_text" >¥<%= item.price %></p>  
    <% end %>
  </div>
  <% end %>

<%= render partial: "items/footer" %>