<div class="page_conteiner">
  <div class="page_box">
    <%= form_for @item do |form| %>
      <div class="sign_title">出品ページ</div>
      <div class="exhi_box">
        <label class="exhi_name">商品名<span class="required">必須</span></label>
        <p class="exhi_space"><%= form.text_field :item_name, :class => "exhibition", placeholder: "商品名（必須40文字以内）", maxlength: "40" %></p>
        <label class="exhi_name">出品画像<span class="required">必須</span></label>
        <p class="exhi_space"><%= form.text_field :image, :class => "exhibition", placeholder: "画像のURLを貼り付けてください" %></p>
        <label class="exhi_name">価格<span class="required">必須</span></label>
        <p class="exhi_space"><%= form.text_field :price, :class => "exhibition", placeholder: "価 格" %></p>
        <label class="xhi_name">商品説明<span class="required">必須</span></label>
        <p class="eexhi_space"><%= form.text_area :comment, placeholder: "商品の説明（必須1,000文字以内）" , rows: "20", maxlength: "1000" %></p>
        <p class="exhi_btn"><%= form.submit "出品" %></p>
      </div>
    <% end %>
    <p class="bottom_bar">&copy; NetShop 2020.</p>
  </div>
  
</div>
