<%= render partial: "items/header" %>

<div class="postTitle">
  <%= @item.item_name %>
</div>
<div class="postDate">
  <%= image_tag "#{@item.image}", class: "item_image" %>
</div>
  <p class= "item_price" >¥<%= @item.price %></p>  
</div>
<div class="postText">
  <%= simple_format @item.comment %>
</div>

<%= render partial: "items/footer" %>